/* navbar */
nav {
  background-color: #2437e5;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  gap: 15%;
}
#logoNav {
  color: #c9c9d3;
  font-size: 20px;
  font-family: "Alkatra", cursive;
}
#logoNav span {
  color: rgb(253, 255, 253);
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
  position: relative;
}

nav a {
  display: block;
  color: #fff;
  position: relative;
  text-decoration: none;
}
nav a.active {
  color: #fff;
  font-weight: bold;
  border-bottom: 2px solid #fff;
}

nav .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  display: none;
}

nav .dropdown:hover .dropdown-menu {
  display: block;
}

nav .dropdown-menu li {
  margin: 0;
}

nav .dropdown-menu a {
  padding: 10px;
  color: #333;
  display: block;
}

nav .dropdown-menu a:hover {
  background-color: #f5f5f5;
}

#pencarianNav {
  display: flex;
  gap: 25px;
}
.search-container {
  display: flex;
  position: relative;
  width: 180px;
  height: 30px;
  margin: 0 10px;
}

.search-container input[type="text"] {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border: none;
  border-radius: 20px;
}

.search-container button[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #2f58cd;
}

.search-container button[type="submit"] i {
  font-size: 1.2rem;
}

.profile-container {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
#hamburger-container {
  display: none;
}

/*  style banner */
.carousel-item {
  height: 100vh;
  min-height: 300px;
}
.carousel-caption {
  bottom: 220px;
  z-index: 2;
}
.carousel-caption h5 {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}
.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}
.carousel-inner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.w-100 {
  height: 100vh;
}

/* card lingkaran status gizi */
.lingkaran {
  display: inline-block;
  border-radius: 50%;
  width: 150px;
  margin: auto;
  height: 150px;
  color: #fff;
  background-color: #0066ff;
}

.lingkaran i {
  position: relative;
  top: 30px;
}

/* style blog */
.crop-img {
  object-fit: cover;
}

/* style peran pengguna */
.pengguna img {
  width: 250px;
  color: #2f58cd;
}

/* style website didukung oleh */
.dukung img {
  height: auto;
  max-height: 80px;
}

/* style team testimoni */
.team .card {
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.team .card-body i {
  font-size: 20px;
}

/* style footer */
.footer {
  width: 100%;
  height: 50px;
  text-align: center;
  background: #2437e5;
  color: #fff;
  position: absolute;
}

/* style responsive */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* navbar */
  nav {
    display: flex;
    justify-content: space-between;
  }

  #menuNav {
    position: fixed;
    top: 150px;
    right: -100%;
    background-color: #2437e5;
    height: 100vh;
    width: 50%;
    padding-top: 20px;
    transition: 0.5s;
    z-index: 999;
  }

  #pencarianNav {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    position: fixed;
    top: 55px;
    right: -100%;
    background-color: #2437e5;
    height: 10vh;
    width: 50%;
    transition: 0.5s;
    z-index: 999;
  }

  #menuNav.active {
    right: 0;
  }

  #pencarianNav.active {
    right: 0;
  }

  nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 20px;
  }

  nav .dropdown:hover .dropdown-menu {
    display: none;
  }

  nav .dropdown-menu {
    position: static;
    width: 100%;
    display: none;
  }

  nav .dropdown-menu li {
    margin-bottom: 10px;
  }

  nav .dropdown:hover .dropdown-menu.active {
    display: block;
  }

  #hamburger-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    cursor: pointer;
  }

  #hamburger-container i {
    font-size: 30px;
    color: #fff;
  }
}

/* caraosel */
.carousel-caption {
  bottom: 370px;
}
.carousel-caption p {
  width: 100%;
}
.card {
  margin-bottom: 30px;
}
.img-area img {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .carousel-caption {
    bottom: 125px;
  }
  .carousel-caption h5 {
    font-size: 17px;
  }
  .carousel-caption a {
    padding: 10px 15px;
    font-size: 15px;
  }
  .carousel-caption p {
    width: 100%;
    line-height: 1.6;
    font-size: 12px;
  }
}
